
	  
	  p{
	      
	      outline: 10px solid #0390fc;
	      border:20px solid #16f7a9 ;
	      
	     }
	  .new{
               border:20px solid #abb31e;
               
	      }
	   .two{
             outline: 10px solid #bd6db5;
             opacity: 0.4;
	       }
	       img{
	       	     opacity: 0.8;
	       	     outline: 10px solid black;
	       }