.first{
          height: 200px;
          width: 90px;
          /* border: 2px solid red; */
          background-color:pink;
           border-top-left-radius: 50px;
          border-top-right-radius: 50px;
          border-bottom-left-radius:50px ;
          border-bottom-right-radius:50px ; 
}