.first{
        height: 150px;
        width: 150px;
        background-color: rgb(68, 41, 168);
        border-radius: 50%;
        position: relative;
        z-index: 1;
        box-shadow: 5px 5px 5px 10px rgb(255, 0, 157);
        top: 160px;
        left: 200px;
        border-top-right-radius: 20px;
}
.second{
    height: 150px;
    width: 150px;
    background-color: rgb(68, 41, 168);
    box-shadow: 5px 5px 5px 10px rgb(255, 0, 157);
     border-radius: 50%;
    position: relative;
    z-index: 1;
    top: 10px;
    border-top-left-radius: 20px;
}


.third{
    height: 150px;
    width: 150px;
    background-color: rgb(165, 22, 65);
    border-radius: 50%;
    position: relative;
    z-index: 1;
    bottom: 50px;
    left: 100px;

}
.four{
    height: 150px;
    width: 150px;
    background-color: rgb(68, 41, 168);
    border-radius: 50%;
    position: relative;
    z-index: -11;
    bottom: 130px;
    border-bottom-left-radius: 20px;
    box-shadow: 5px 5px 5px 10px rgb(255, 0, 157);
}



.five{
    height: 150px;
    width: 150px;
    background-color: rgb(68, 41, 168);
    border-radius: 50%;
    position: relative;
    z-index: -1;
    bottom: 280px;
    left: 200px;
    border-bottom-right-radius: 20px;
    box-shadow: 5px 5px 5px 10px rgb(255, 0, 157);


}

