.first{
          height: 200px;
          width: 50px;
          background-color:  4px solid rgb(185, 39, 71);
          /* border-top-left-radius: 20px;
          border-top-left-radius: 20px;
          border-bottom-left-radius:20px ;
          border-bottom-right-radius:20px ; */
}