ul{
	
	 color: #457ede;
     font-size:30px;
	 width:100% ;
	 font-family: cursive;
	 background-color: #6f9ae3;
	 align-items:center;
	 display: flex;
	 justify-content: center;
  }
  li{
  	display: inline-block;
  }
  a{
	 
	 text-decoration:none;
	 margin:40px;
    }
    
a:hover{
           background-color: #92b7e0;
       }
  img{

  	 align:left;
  	   border-radius:55% ;
         
     }