ul{
	
	 color: #9ad9ab;
     font-size:30px;
	 width:100% ;
	 font-family: cursive;
	background-color: #6f9ae3;
	align-items:center;
	 display: flex;
	 justify-content: center;
   


  }

  a{
	 
	 border-bottom: 2px solid #103966;
	 margin:40px;
	 text-decoration: none;
    }
    
a:hover{
           background-color:#92b7e0;
           cursor: s-resize;
           border-bottom: 5px solid #a80218;
           
       }


  
 /* ul,a{
  	      display: flex;
  }*/
  li{
  	   display: inline-block;
  }
  img{

  	   align:left;
  	   border-radius:50% ;
         
     }
  