body{
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
h2{
	color: #FFFFFF;
	padding: 30px;
	background-color: black;
	border: #FFFFFF double 5px;
}
.para{
	background-color: black;
	color:#FFFFFF;
	padding: 20px;
	border: #FFFFFF dotted 5px;
	font-family: cursive;
	border-radius: 20px;
}
.pa{
	color:#FFFFFF;
	background-color: black;
	border: #FFFFFF  solid 2px ;
	border-radius: 30px;
	padding: 20px;
	box-shadow:4px 5px 5px 5px white;
}