*{
    margin: 0;
    padding:0;
 } 
.text{
    height: 200px;
    width: 800px;
    font-family: cursive;
    font-size: 20px;
    position: relative;
    left: 250px;
    top:40px;
    /* overflow: hidden; */
   
}

body{
    background-image: url(ph.jpg);
    background-size: cover;
}
.tx1{
    background-image:url(paint1.jpg);
    background-size: cover;
    color: white;
    padding: 30px;
    opacity:0.5;

}
.head{
        font-size: 30px;
        
}
