.container-fluid{
    position: relative;    /*movement of home*/
    left: 400px;
}

.navbar  .container-fluid {
    background-color: rgb(158, 156, 248);
    box-shadow:15px 15px 5px 5px rgb(102, 6, 94);
    padding:15px ;
    

}                                                   /* background color*/
.navbar form{ 
    /* background-color:  bisque; */
    background-color: rgb(158, 156, 248);
    box-shadow:15px 15px 5px 5px rgb(102, 6, 94)



}

.nav-item{
    font-size: 20px;
}


.logo{
    position: relative;    /* logo move*/
    /* left:250px; */
    right: 500px;
    box-shadow:10px 10px 15px 5px rgb(102, 6, 94);
    outline: 5px solid black;

}
.logo:hover{
    transform: scale(1.2);         /*hover on logo*/

    
}
/* .carousel .carousel-inner .carousel-item{
      hright:300px;
} */

.inside{
    font-size: 80px;                   /* text inside carousel*/
    position: relative;
    left: 30px;
    top: 500px;
}
.bg-img-1{
background-image: url(carou.jpg);
}
.bg-img-2{
    background-image: url(hospital2.jpg);   

}
.bg-img-3{
    background-image: url(hospital4.jpg);

}
.carousel-image {
height: 100vh;
background-repeat: no-repeat;              /* for fit the image*/
background-size: cover;
background-position: center;
}
h1{

    font-family: Georgia, 'Times New Roman', Times, serif;  /* head about us*/
    /* background-color: rgb(235, 211, 179); */
    margin-top: 40px;
    padding: 20px;
    background-color: rgb(84, 224, 189);
    /* box-shadow:15px 15px 5px 5px rgb(102, 6, 94) */

}
.container-flud{
    display: flex;
    height: 350px;     /* about us flex*/
    width: 100%;
    margin: 40px;
    nt-family: Verdana, Geneva, Tahoma, sans-serif;
}
.first{
    position: relative;
    left: 200px;   
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    /* overflow-x: scroll; */

                             /* image text position*/
}
.first p{
    box-shadow:10px 10px 10px 10px  grey;   /* effect*/

}
.second{
     position: relative;
     left: 400px;
}
.second img:hover{
                border: 5px solid  rgb(218, 155, 20);
                /* transition: scale(2.8); */
                transform: scale(1.1);
                box-shadow: 10px 10px 15px 15px black;
}

.my{
    
    width: 150px;
    height:100px;
    font-size:30px;
    border-radius: 50%;     /* button*/
    position: relative ;
    left: 450px;
    top: 150px;
  
    
}

.service{
    display: flex;
    position: relative;   /* service*/
    top: 200px;
    width: 100%;
}

.card{
    margin-right: 80px;
    margin-left: 20px;          /* position of services*/

}
.card:hover{
    border: 5px solid  rgb(34, 6, 87);                /* card hover*/
    /* transition: scale(2.8); */
    transform: scale(1);
    box-shadow: 10px 10px 15px 15px black;

}

h2{
    position: relative;
    top: 180px;             /* service heading*/
}



.cardl{
    width: 150px;
    height:100px;              /* button of services*/
    font-size:30px;
    border-top-right-radius:50% ;
}
.container{
    position: relative;    /* footer position*/
    top: 300px;
    width: 100%;
}
 .container li{
    padding: 10px;
    font-size: 30px;     /* list */
    
}
h3{
    margin-top: 5px;  /* heading of footer*/
}

