.first{
    /* border:20px inset black; */
    /* background-color: white; */
    padding: 30px;
    font-size: 25px;
    margin-bottom: 60px;
    box-shadow:10px 10px 10px 5px  black inset;
    margin-left: 20px;
    margin-right: 20px;
}

.second{
    /* border:20px outset black; */
    background-color: white;
    padding:30px;
    font-size: 25px;
    box-shadow:10px 10px 10px 10px  grey;
    margin-bottom: 60px;
    margin-left: 20px;
    margin-right: 20px;

}
.third{
    background-color: white;
    padding:30px;
    font-size: 25px;
    box-shadow:5px  5px rgb(118, 57, 175),10px 10px rgb(36, 24, 209),15px 15px rgb(192, 18, 125) inset;
    /* box-shadow:5px  5px rgb(118, 57, 175),10px 10px rgb(36, 24, 209),15px 15px rgb(192, 18, 125) outset; */
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 60px;
}


