body{
      background-color: rgb(167, 169, 231);

}
.first{
    margin-top:30px;
    padding: 10px;
    text-align: center;
    font-family: cursive;

    background: rgba( 140, 210, 239, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 7px );
-webkit-backdrop-filter: blur( 7px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
    
}
.second{
    margin-top:30px;
    padding: 10px;
    text-align: center;
    font-family: cursive;

    background: rgba( 218, 106, 190, 0.15 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 7px );
    -webkit-backdrop-filter: blur( 7px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );

}