.container-fluid{
     background-color: rgb(213, 114, 216);
     padding:10px;
     margin-top: 20px;
     outline:5px solid rgb(125, 124, 126);
}
.navbar .container-fluid .navbar-brand .collapse .navbar-nav .nav-item .nav-link{
    padding-right: 50px;
}