.first{
     height: 200px;
     width:200px;
     border-radius: 50%;
     border: 2px solid pink;
     background-color: pink;
     z-index: -1;
     box-shadow: 2px 5px 5px 10px purple;

}
.second{
    height: 200px;
    width:200px;
    border-radius: 50%;
    border: 2px solid pink;
    background-color: pink;
    box-shadow: 2px 5px 5px 10px purple;

    position: relative;
    z-index: -1;

}
.third{
    height: 200px;
     width:200px;
     border-radius: 50%;
     
     border: 2px solid pink;
     background-color: pink;
     box-shadow: 2px 5px 5px 10px purple;

     position: relative;
     left: 200px;
     bottom:400px;
     
     z-index: -1;

}
.four{
    height: 200px;
     width:200px;
     border-radius: 50%;
     border: 2px solid rgb(38, 164, 248);
     position: absolute;
     top: 100px;
     left: 100px;
     z-index: 1;
     background-color: rgb(199, 109, 235);
     

}
.five{
    height: 200px;
     width:200px;
     border-radius: 50%;
     
     position: absolute;
     left:210px ;
     bottom: 232px;
     border: 2px solid pink;
     background-color: pink;
     box-shadow: 2px 5px 5px 10px purple;


     z-index: -1;

}